<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <ul>
                    <a href="/">Home</a><br>
                    <a href="/#platform">Our Platform</a><br>
                    Contact: email aalap@signalhealthpartners.com
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12">

            </div>
            <div class="col-lg-4 col-sm-12">
                <p><a href="http://app.signalhealthpartners.com">Log in</a></p>
                Copyright 2017 Signal Health Inc.
            </div>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
